<!DOCTYPE html>
<html ng-app="app">
<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body ng-controller="Controller">

  <nav style="height: 50px" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand">Reddit Clone</div>
        <button ng-click="submitPost = !submitPost" class="submit-btn btn navbar-btn pull-left"><span class="glyphicon glyphicon-plus"></span> Submit Post</button>
        <form class="navbar-form pull-left" role="search">
          <input type="text" class="form-control" placeholder="Search">
        </form>
         <!--  <button type="button" class="btn navbar-btn navbar-toggle collapsed" data-toggle="collapse" data-target="dd">Sort By Votes <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
            <li><a role="menuitem" href="#">Ascending</a></li>
            <li><a role="menuitem" href="#">Descending</a></li>
          </ul> -->
        <div class="navbar-dropdown pull-left">
          <button class="btn navbar-btn dropdown-toggle pull-left" type="button" data-toggle="dropdown">Sort By <span ng-if="sort=='-votes'">Votes</span><span ng-if="sort=='-date'">Date</span><span ng-if="sort=='title'">Title</span>   
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li ng-click="sort='-votes'"><a ng-click="sortType('votes')" href="#">votes</a></li>
            <li ng-click="sort='-date'"><a href="#">date</a></li>
            <li ng-click="sort='title'"><a href="#">title</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="submit-post container-fluid">
    <form name="submissionForm" ng-show="submitPost" role="form" novalidate>
    <!--   <div class="form-group"> -->
        <div class="caption">Title</div>
        <input ng-model="post.title" class="title-input form control input-sm" required type="text" placeholder="Title">
        <div class="caption">Author</div>
        <input ng-model="post.author" class="author-input form control input-sm" type="text" required placeholder="Author">
        <div class="caption">Image URL</div>
        <input ng-model="post.url" class="url-input form control input-sm" type="url" required placeholder="Image URL">
        <div class="caption">Description</div>
        <input ng-model="post.description" class="description-input form control input-sm" required type="text" placeholder="Description">
 <!--      </div> -->
      <div ng-model="post.votes"></div>
      <div ng-model="post.comments"></div>
      <button ng-disabled="submissionForm.$invalid" ng-click="submitForm(post)" type="submit" class="submit btn btn-default">Submit Post</button>
    </form>
  </div>

  <div class="posts container-fluid">
    <div ng-repeat="elem in postsData | orderBy: sort">
      <div class="row">
        <div class="url col-xs-3"><img class="post-img" src="{{elem.url}}"></div>
        <div class="info-container col-xs-9">
          <div class="title">{{elem.title}} | <button ng-click="upVote()" class="up-vote"><span class="glyphicon glyphicon-arrow-up"></span></button> <button ng-click="downVote()" class="down-vote"><span class="glyphicon glyphicon-arrow-down"></span></button> <span class="votes" ng-class="{red: elem.votes < 0, green: elem.votes > 0}">{{elem.votes}}</span></div>
          <div class="author">By {{elem.author}}</div>
          <div class="description">{{elem.description}}</div>
          <div class="footer"><span class="glyphicon glyphicon-calendar"></span> Date | <button ng-click="showComments = !showComments" class="comments"><span class="glyphicon glyphicon-comment"></span> Comments</button> | <button class="add-comment-btn" ng-click="addComment = !addComment"><span class="glyphicon glyphicon-pencil"></span> Add Comment</button></div>
        </div>
      </div>
      <div class="row row-margin" ng-show="showComments">
        <div class="col-xs-12 comments-box">
          <div ng-repeat="comment in commentsData">
            <div class="display-comment">{{coment}}</div>
          </div>
        </div>
      </div>
      <div class="row row-margin" ng-show="addComment">
        <div class="col-xs-12 comments-box">
          <form name="commentsForm" role="form">
            <input ng-model="cname" class="comment-name form control input-sm" type="text" required placeholder="Name">
            <input ng-model="ccontent" class="comment-content form control input-sm" type="text" required placeholder="Comment"> 
            <button ng-click="submitComment()" type="submit" class="submit btn btn-default">Submit Comment</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>